.homepage-header-container {
    padding: 2rem 1rem;
    border-radius: .3rem;
    margin-top: 5vh;
    text-align: center;
    height: 90vh;
}

.lead {
    font-family: 'Raleway', sans-serif;
}

.homepage-header-title {
    color: #B1CC74;
    font-size: 40px;
    text-transform: uppercase;
}

.scroll-down-arrow-container {
    position: relative;
    margin-top: 62vh;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.scroll-down-arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}


@media only screen and (min-width: 450px) {
    .lead {
        font-size: 23px;
    }

    .homepage-header-container {
        margin-top: 20vh;
        height: 75vh;
    }

    .homepage-header-title {
        font-size: 62px;
    }

    .scroll-down-arrow-container {
        margin-top: 40vh;
    }
}

@media only screen and (min-width: 576px) {
    .homepage-header-container {
        padding: 4rem 2rem;
    }
}

@media only screen and (min-width: 996px) {
    .homepage-header-title {
        font-size: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    .homepage-header-title {
        font-size: 100px;
    }
}
