.double-line {
 text-align: center;
 font-size: 20px;
 max-width: 330px;
 margin: auto;
 margin-bottom: 50px;
}

.double-line:before,
.double-line:after {
 background-color: #141414;
 content: "";
 display: inline-block;
 height: 2px;
 position: relative;
 vertical-align: middle;
 width: 5%;
}
.double-line:before {
 right: 0.3em;
 margin-left: -50%;
}
.double-line:after {
 left: 0.3em;
 margin-right: -50%;
}

@media only screen and (min-width: 420px) {
    .double-line:before,
    .double-line:after {
        width: 20%;
    }
}

@media only screen and (min-width: 450px) {
    .double-line {
        font-size: 30px;
    }
}
