.expanded-panel-container {
    width: 80vw;
    height: 100%;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.6);
    background-color: #FEC93B;
}

.expanded-panel-heading {
    text-align: center;
    margin-bottom: 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.expanded-panel-heading-footer {
    color: #6c757d;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.expanded-panel-heading h4 {
    margin-bottom: 5px;
    color: #482728;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

.expanded-panel-details {
    font-size: 12px;
    margin-top: 10px;
}

.expanded-panel-details strong {
    font-family: 'Montserrat', sans-serif;
}

.expanded-panel-description {
    padding-left: 10px;
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
}

ul.expanded-panel-description {
    margin-left: 0;
}

ul.expanded-panel-description li {
    margin-bottom: 0;
}

.expanded-panel-img {
    margin: 10px 0;
    opacity: 0.6;
    transition: opacity .25s;
    box-shadow: 0 0 2px 1px rgba(100,100,100,.15);
}

.expanded-panel-img:hover {
    opacity: 1;
    box-shadow: 0 0 11px rgba(33,33,33,.3);
}

.expanded-panel-img-active {
    margin: 10px 0;
    opacity: 1;
    box-shadow: 0 0 11px rgba(33,33,33,.3);
    text-decoration: none;
}

hr.styled {
    width: 70%;
    margin: 25px auto;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

@media only screen and (min-width: 576px) {
    .expanded-panel-details {
        font-size: 14px;
        padding: 0 20px;
    }

    .expanded-panel-heading h4 {
        font-size: 45px;
    }

    .expanded-panel-heading-footer {
        font-size: 16px;
    }

    .expanded-panel-container {
        padding: 30px 0;
    }

    .expanded-panel-heading {
        margin-bottom: 40px;
    }

    .expanded-panel-description {
        padding-left: 40px;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .expanded-panel-details {
        margin-top: 0;
    }
}

@media only screen and (min-width: 992px) {
    .expanded-panel-details {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1230px) {
    .expanded-panel-details {
        font-size: 18px;
    }
}
