.portfolio-heading-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.portfolio-heading {
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
  font-size: 60px;
  text-align:center;
  margin: 0;
  color: #c2c1b0;
  text-shadow:0 2px 3px rgba(0,0,0,.4);
}

.portfolio-mini-heading {
    font-family: 'Raleway', sans-serif;
    color: #f5e6e8;
    font-size: 14px;
    margin:0;
    letter-spacing: .1px;
    font-style: italic;
}

.portfolio-mini-heading:before,
.portfolio-mini-heading:after {
    background-color: #f8f8f8;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 8%;
}
.portfolio-mini-heading:before {
    right: 0.4em;
    margin-left: -50%;
}
.portfolio-mini-heading:after {
    left: 0.4em;
    margin-right: -50%;
}

@media only screen and (min-width: 460px) {
    .portfolio-mini-heading:before,
    .portfolio-mini-heading:after {
        width: 15%;
    }

    .portfolio-mini-heading {
        font-size: 18px;
    }
    .portfolio-heading {
        font-size: 100px;
    }
}

@media only screen and (min-width: 730px) {
    .portfolio-mini-heading:before,
    .portfolio-mini-heading:after {
        width: 25%;
    }

    .portfolio-heading {
        font-size: 120px;
    }
}
