.sky-gradient {
    background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
}

.sea-level-1 {
    background: linear-gradient(#58C2F3, #0080ff);
}

.sea-level-2 {
    background: linear-gradient(#0080ff, #0e4d92);
}

.sea-level-3 {
    background: linear-gradient(#0e4d92, #1D2951);
}

.sea-level-4 {
    background-color: #1D2951;
}

.rotate-xs {
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari */
    transform: rotate(3deg);
}

.rotate-40 {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.talk-bubble {
    display: inline-block;
    position: relative;
    width: 70px;
    background-color: lightyellow;
}

.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -10px; /* -20px */
    top: 0px;
	bottom: auto;
	border: 10px solid; /* 20px */
	border-color: lightyellow transparent transparent transparent;
}

.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -10px;
	right: auto;
    top: 0px;
	bottom: auto;
	border: 10px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
    padding: 2px;
    text-align: left;
    line-height: 1.5em;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.talktext p {
  display: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.talktext div {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    margin-bottom: 5px;
    font-weight: 800;
}


.preloader-background {
    background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
}

.preloader-portfolio{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.preloader-portfolio span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: preloader_1 1.5s  infinite ease-in-out;
}

.preloader-portfolio span:nth-child(2){
left:11px;
animation-delay: .2s;

}
.preloader-portfolio span:nth-child(3){
left:22px;
animation-delay: .4s;
}
.preloader-portfolio span:nth-child(4){
left:33px;
animation-delay: .6s;
}
.preloader-portfolio span:nth-child(5){
left:44px;
animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}


@media only screen and (min-width: 576px) {
    .talktext p {
        display: block;
    }
    .talk-bubble {
        width: 120px;
        padding: 8px;
    }
    .talktext div {
        text-align: left;
    }
}

@media only screen and (min-width: 700px) {
    .talk-bubble {
        margin-left: 5%;
    }
}

@media only screen and (min-width: 960px) {
    .talk-bubble {
        width: 200px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 1050px) {
    .talktext {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1230px) {
    .talk-bubble {
        width: 230px;
        margin-left: 2%;
    }
    .talktext {
        font-size: 18px;
    }
}
