.portfolio-footer-container {
    text-align: center;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 25px 0;
	width: 90%;
	margin: auto;
}

.portfolio-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: rgba(204,255,255,.4);
}

.portfolio-footer-icons {
    width: 40%;
    margin: 15px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pointer-box {
    width: 80px;
    height: 60px;
    padding: 10px;
    position: relative;
    background: rgba(0,242,254, 0.2) ; /* #00f2fe */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer-box-text {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-shadow:0 2px 3px rgba(0,0,0,.6);
    font-weight: 400;
    font-size: 14px;
}

.pointer-box-text.right {
    left: 10%;
}

.pointer-box-text.left {
    right: 10%;
}

.pointer-box.right {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pointer-box.left {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pointer-box.right:after {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid rgba(0,242,254, 0.2);
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.pointer-box.left:before {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 30px solid rgba(0,242,254, 0.2);
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

@media only screen and (min-width: 460px) {
    .portfolio-footer-heading {
        font-size: 100px;
    }

    .portfolio-footer-icons {
        flex-direction: row;
    }

    .portfolio-footer {
        font-size: 16px;
    }

    .pointer-box-text {
        font-size: 16px;
    }

    .portfolio-footer-container {
        width: 80%;
    }

    .pointer-box {
        width: 120px;
        height: 90px;
        padding: 10px;
    }

    .pointer-box.right:after {
        right: -45px;
        border-left: 45px solid rgba(0,242,254, 0.2);
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
    }

    .pointer-box.left:before {
        left: -45px;
        border-right: 45px solid rgba(0,242,254, 0.2);
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
    }
}

@media only screen and (min-width: 730px) {
    .portfolio-footer-heading {
        font-size: 120px;
    }
    .portfolio-footer-container {
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    .pointer-box-text {
        font-size: 22px;
    }

    .pointer-box {
        width: 200px;
        height: 120px;
        padding: 10px;
    }

    .pointer-box.right:after {
        right: -60px;
        border-left: 60px solid rgba(0,242,254, 0.2);
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
    }

    .pointer-box.left:before {
        left: -60px;
        border-right: 60px solid rgba(0,242,254, 0.2);
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
    }
}
