.tech-section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #141414;
    font-weight: 300;
    letter-spacing: .01px;
    margin-block-start: 10px;
    margin-block-end: 15px;
}

.tech-heading {
    display: block;
    color: #1a1a1a;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1.6;
    margin-block-start: 15px;
    margin-block-end: 15px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.tech-text-container {
    line-height: 1;
    font-size: 14px;
}

.tech-work-description {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

@media only screen and (min-width: 768px) {
    .tech-text-container {
        font-size: 15px;
    }
    .tech-work-description {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .tech-heading {
        font-size: 16px;
    }
    .tech-work-description {
        font-size: 16px;
    }
    .tech-text-container {
        font-size: 16px;
    }

    .tech-section-title {
        font-size: 22px;
    }
}
