.resume-header-container {
    background-color: #9e4770;
    padding: 40px 0;
}

.resume-heading {
  color: #fff;
  /* font-family: 'Cardo', serif; */
  font-size: 27px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 2px;
  // line-height: 2.2em;
  margin: auto;
  text-align: center;
}

.heading-main {
    /* font-family: 'EB Garamond', serif; */
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    font-style:normal;
    padding-top: 0.1em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.15);
}


@media only screen and (min-width: 576px) {
    .resume-header-container {
        padding: 60px 0;
    }
    em {
        font-size: 62px;
    }
}
