.resume-footer-block-container {
    text-align: center;
    padding: 50px 0;
}

.resume-footer-block-divider {
    position:absolute;
    left:10%;
    top:50%;
    right:10%;
    border-top: 1px solid #829399;
}

.resume-footer-heading {
    font-size: 32px;
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
}

.resume-footer-description {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.resume-footer-button-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-footer-button {
    margin: 10px 5px;
}

@media only screen and (min-width: 576px) {
    .resume-footer-block-divider {
        border-left: 1.2px solid #829399;
        border-top: 0;
        left:50%;
        top:10%;
        bottom:10%;
        right: 0;
    }

    .resume-footer-button-container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 996px) {
    .resume-footer-heading {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1200) {
    .resume-footer-description {
        font-size: 18px;
    }
}
