.footer-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.footer-item-heading {
    margin: 30px 0 20px 10px;
    font-weight: 600;
}

.footer-item:nth-of-type(1) { flex-grow: 1; }
.footer-item:nth-of-type(2) { flex-grow: 2; }
.footer-item:nth-of-type(3) { flex-grow: 1; }

.footer-about-container {
    display: flex;
    max-width: 500px;
    margin-left: 15px;
}

.footer-about-description {
    margin-left: 15px;
    color: #cccccc;
    font-size: 14px;
    font-family: Arial;
    line-height: 20px;
    list-style: none;
}

ul.footer-about-description li {
    margin-bottom: 3px;
}

@media only screen and (min-width: 576px) {
    .footer-container {
        flex-direction: row;
    }
}
