# navbar {
  transition: top 0.5s;
}

.navbar {
    max-height: 60px;
    max-width: 1050px;
    margin: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-brand {
    padding-left: 1rem;
}

.navbar-toggler {
    margin-right: 1rem;
}

.navbar-collapse {
    background-color: #343a40;
}

.nav-link {
    color: #f5f5f5 !important;
    transition: all .3s;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link:hover, .nav-link:focus {
    color: #708090 !important;
}

.nav-item:last-of-type {
    padding-right: 1rem;
}

.navbar-nav>li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    max-height: 60px;
}
