.reference-panel-section-container {
    margin-bottom: 50px;
}

.reference-panel-img {
    border-radius: 20px;
}

.reference-panel-text-container {
    margin-top: 10px;
}

.reference-panel-text-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #37c;
    font-size: 27px;
    width: max-content;
}

.reference-panel-text-description {
    color: #829399; /* nice black: 50555c */
    margin-top: 12px;
    font-size: 17px;
    line-height: 1.45;
}

@media only screen and (max-width: 575px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 576px) {
    .reference-panel-text-container {
        margin-top: 20px;
        margin-left: 3rem;
    }
    .container {
        max-width: 540px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 910px;
    }
}
